<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Истории просмотров" %}</title>
</head>
<body>

{% for history in history_list %}
    <div>
        <p>{% trans "Наименование товара" %} - {{ history.product }}</p>
        <p>{% trans "Описание товара" %} - {{ history.product.description }}</p>
        <p>{% trans "Свойства товара" %} - {{ history.product.property }}</p>
        <p>{% trans "Категория товара" %} - {{ history.product.category }}</p>
        <p>{% trans "Продавец" %} - {{ history.product.seller }}</p>
        <p>{% trans "Дата просмотра" %} - {{ history.view_at }}</p>
        <hr>
    </div>
{% endfor %}
</body>
</html>